<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100;1,300;1,900&family=Noto+Sans+JP:wght@300;500;700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="reset.css">

</head>
<body>
    <header>
        <h1 class="title">My Portfolio
            <img  class="header_img" src="/Component/img/header.png" alt="" width="60" height="65">
        </h1>
        <nav class="header_nav">
            <ul class="header_content">
                <li ><a href="/Component/index.html" class="header_about">Back</a></li>
                <!-- <li><a href="" class="header_about">Works</a></li>
                <li><a href="/Component/comtact/contact.html" class="header_about">Contact</a></li> -->
            </ul>
        </nav>
        <ul class="header_icon">
            <li>
                <a href="">
                    <img class="instagram" src="/Component/img/Instagram.png" alt="" width="28" height="28">

                </a>
            </li>
            <li>
                <a href="">
                    <img class="facebook" src="/Component/img/Facebook.png" alt="" width="28" height="28">

                </a>
            </li>
        </ul>
    </header>

<maim>
    <h2 class="me_title">aboutMe
    </h2>
    <div class="aboutMe_pc">
    <img class="profile_img" src="/Component/img/profile.png" alt="" width="200" height="200">
<section>
    <dl class="profile">
        <div class="profile-item">
        <dt class="name">名前</dt>
        <dd class="my_name">延岡あやか</dd>
        </div>
        <div class="profile-item">
        <dt class="location">所在地</dt>
        <dd class="my_location">都立家政</dd>
    </div>
    <div class="profile-item">
        <dt class="birthday">生年月日</dt>
        <dd class="my_birthday">1993年08月06日</dd>
    </div>
      </dl>
    </section>
</div>
</maim>

    <footer>
    </footer>
</body>
<script src="script.js"></script>
</html>