<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link rel="stylesheet" href="styled.css">
</head>
<body>
    <header>
        <h1 class="title">My Portfolio
            <img src="/imgFile/penguin.png" alt="" width="60" height="80">

        </h1>
        <nav class="header_nav">
            <ul>
                <li>about</li>
                <li>Works</li>
                <li>Blog</li>
                <li>Contact</li>
            </ul>
        </nav>
        <ul>
            <li>
                <a href="">
                    <img src="/imgFile/Instagram.jpeg" alt="" width="28" height="28">

                </a>
            </li>
            <li>
                <a href="">
                    <img src="/imgFile/facebook.jpeg" alt="" width="28" height="28">

                </a>
            </li>
        </ul>
    </header>

    
</body>
<script src="script.js"></script>
</html>