@charset "UTF-8";
.body{
    width: 100%;
}
.title {
    font-size: 30px;
    padding: 10px;
    font-weight: 100;
    color:#333;
    font-family: 'Lato', sans-serif;
}
.main_text{
    display: none;
}
.header_img{
    vertical-align: bottom;
    width: 70px;
}
.header_nav {
padding: 20px;
}
.header_content {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color:#333;
    font-family: 'Lato', sans-serif;
}
.header_about{
    text-decoration:none;
    color:#333;
}
.header_about:hover {
    transition: all 0.3s;
    opacity: 0.5;
}

.header_icon{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0 20px;
    
}
.aboutMe_pc,.Works_pc {
 display: flex;
 flex-direction: column;
 gap: 20px;
 padding: 20px;
 
}

.warapper_img{
margin: 0 auto;
}

.main_img{
    width: 95%;
}

.aboutMe,
.Blog,
.Works {
    display: block;
    max-width: 760px;
    text-align: center;
}

.aboutMe_title,
.works_title,
.blog_title
{
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: #333;
    letter-spacing: 0.05em;
    line-height: 1.0;
    text-align: center;
    margin: 30px 0px;
    
}

.aboutMe01,.aboutMe02,.Works01,.Works02 {
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 #cccccc;
}
.aboutMe_text01,
.aboutMe_text02,
.works_text01,
.works_text02,
.blog_text01,
.blog_text02
{
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: #333;
    letter-spacing: 0.05em;
    line-height: 1.9;
    text-align: left;
    padding: 10px 55px;
}

.footer_nav {
margin: 0 auto;
width: 100%;
max-width: fit-content;
}
.footer_content {
    list-style: none;
    display: flex;
    gap: 20px;
    color: #333;
    font-family: 'Lato', sans-serif;
    padding: 10px 0;
}
.footer_about {
    text-decoration: none;
    color: #333;

}

.button_up{
    display: block;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 200;
    color: #333;
    letter-spacing: 0.05em;
    line-height: 1.0;
    text-align: center;
}

.button_up {
    width: 750px;
    position: fixed;
    bottom: 30px; left: 30px; 
}

@media screen and (min-width:750px){
    .aboutMe,
    .Blog,
    .Works{
    margin: 0 auto;
    width: 1000px;
    }
    .title {
        font-size: 50px;
        padding: 20px;
    }
    .header_content{
        font-size: 20px;
        flex-direction: row-reverse;
        gap: 20px;
        max-width: 1000px;
    }
    .aboutMe_pc,.Works_pc {
        display: flex;
        flex-direction: row;
        gap:10px;
    }
    .header_icon{
        flex-direction: row-reverse;
    }

    .wrapper_img{
        display: flex;
        gap: 50px;
        max-width: 1000px;
    }
    .main_img{
        width: 50%;
    }
    .main_text{
    display: block;
    font-size: 20px;
    font-weight: 100;
    color:#333;
    letter-spacing: 0.10em;
    line-height: 1.0;
    font-family: 'Lato', sans-serif;
    margin: auto;
    }

    .button_up {
        width: 1000px;
        bottom: 10px; left: 400px;
    }

}

